# This file is part of pybhspc
# Copyright 2024 Board of Regents of the University of Wisconsin System
# SPDX-License-Identifier: MIT

*~
.*.sw?

/build/
/dist/
/site/
*.egg-info/
__pycache__/

# Generated/built
src/bh_spc/*.c
src/bh_spc/*.pyd
